<div class="panel">
	<div class="wrapper-lg">
		<h2 class="m-t-none">Welcome to FlexBase! Finally a place to hold your data simply and easily.</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, est tempora sequi quae aliquam eos reiciendis, nihil praesentium ut. Officiis iste quis enim eius iure minus distinctio, aspernatur tempora consequuntur, labore laudantium ipsam quam ad animi fugit ducimus eaque. Beatae iste, quos incidunt distinctio, adipisci animi impedit, voluptate dolor nostrum, cum ea porro reiciendis culpa neque aut tempora. Velit at quod quisquam, animi, nihil excepturi non harum aliquam facere commodi ipsa incidunt ipsum eaque cupiditate. Possimus non molestiae voluptas dolores ex quisquam. Iusto molestiae, cumque fugit, quam sint saepe libero sunt eveniet dolores architecto enim obcaecati facilis doloremque ipsum! Explicabo doloremque ipsam voluptate rem et minus molestias quos. Molestiae vitae omnis, id sapiente magnam repellendus, doloremque numquam provident nostrum deserunt voluptas, adipisci minus exercitationem rerum blanditiis totam eum consequuntur optio! Autem suscipit, iusto saepe excepturi dolores. Saepe consectetur distinctio quas eaque fugit rem ducimus, placeat esse magni. Iure animi nisi quaerat aperiam. Maxime beatae aut, quis iusto asperiores facilis rerum. Vel pariatur molestias dolorum, incidunt magnam qui omnis iusto nobis dignissimos sapiente officia quos, repellat accusantium ipsa quia nemo explicabo exercitationem! Voluptatibus sit quibusdam voluptates reprehenderit ea in consequuntur nostrum illo, minus assumenda quasi cumque vel aperiam, quo delectus! Eius.</p>
	</div>
</div>
