<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-group">
			<label>OData Endpoint</label>
			<input type="url" class="form-control" placeholder="Type the url" ng-model="url">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="browseData()">Browser Data</button>
		</div>

		<dxgrid endpoint="endpoint" ng-if="showGrid"></dxgrid>

	</div>
</div>
