<!DOCTYPE html>
<html lang="en" ng-app="flexbase">

<head>
    <meta charset="utf-8" />
    <title>Database Application</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="assets/animate.css/animate.css" type="text/css" />
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/font.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="libs/handsontable/dist/handsontable.full.css">
    <link href="libs/angularjs-toaster/toaster.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/angulr.min.css" type="text/css" />

    <!-- DevExpress -->
    <link href="http://cdn3.devexpress.com/jslib/14.2.6/css/dx.common.css" rel="stylesheet" />
    <link rel="dx-theme" data-theme="generic.light" href="http://cdn3.devexpress.com/jslib/14.2.6/css/dx.light.css" data-active="true" />

    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="app app-header-fixed">
        <toaster-container></toaster-container>
        <!-- header -->
        <header id="header" class="app-header navbar" role="menu">
            <!-- navbar header -->
            <div class="navbar-header bg-black">
                <button class="pull-right visible-xs dk" target=".navbar-collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                </button>
                <button class="pull-right visible-xs" target=".app-aside">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <!-- brand -->
                <a href="#/home" class="navbar-brand text-lt">
                    <i class="fa fa-btc"></i>
                    <img src="img/logo.png" alt="." class="hide">
                    <span class="hidden-folded m-l-xs">Angulr</span>
                </a>
                <!-- / brand -->
            </div>
            <!-- / navbar header -->
            <!-- navbar collapse -->
            <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">

                <ul class="nav navbar-nav hidden-sm">
                    <li>
                        <a href="#/odata-browser">OData Browser</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">John Doe <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- / navbar collapse -->
        </header>
        <!-- / header -->
        <!-- aside -->
        <aside id="aside" class="app-aside hidden-xs bg-black">
            <div class="aside-wrap">
                <div class="navi-wrap">
                    <!-- nav -->
                    <nav class="navi clearfix" ng-controller="SidebarController">
                        <ul class="nav">
                            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                                <span>Collections</span>
                            </li>
                            <li ng-repeat="collection in collections" ng-click="selectCollection(collection)" ng-class="{ active: $root.selectedCollection === collection }">
                                <a href="#/collections/{{ collection.name }}">
                                    <span class="font-bold">{{ collection.name }}</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#new_collection_modal">
                                    <span class="font-bold">+</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- nav -->
                </div>
            </div>
        </aside>
        <!-- / aside -->
        <!-- content -->
        <div id="content" class="app-content" role="main">
            <div class="app-content-body ">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <!-- main -->
                    <div class="wrapper" ng-view></div>
                    <!-- / main -->
                </div>
            </div>
        </div>
        <!-- / content -->
        <!-- footer -->
        <footer id="footer" class="app-footer" role="footer">
            <div class="wrapper b-t bg-light">
                <span class="pull-right">2.0.2
                                    <a href class="m-l-sm text-muted">
                                        <i class="fa fa-long-arrow-up"></i>
                                    </a>
                                </span> &copy; 2015 Copyright.

            </div>
        </footer>
        <!-- / footer -->
    </div>
<!-- Modal For New Collection -->

<div class="modal fade" id="new_collection_modal" ng-controller="NewCollectionController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Collection</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name Of the Collection</label>
                    <input type="text" class="form-control" placeholder="Users" ng-model="newCollectionName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createCollection()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- / Modal For New Collection -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/handsontable/dist/handsontable.full.js"></script>
    <script src="libs/ngHandsontable/dist/ngHandsontable.js"></script>
    <script src="libs/angularjs-toaster/toaster.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script src="http://cdn3.devexpress.com/jslib/15.1.4/js/dx.webappjs.js"></script>

    <script src="js/flexbase.js"></script>
</body>

</html>